<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curency Converter</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>

    <h1>Currency Converter</h1>

    <form id="currencyForm" method="post">
        <label for="currencyAmount">Convert </label>
        <input type="number" step="0.01" id="currencyAmount" name="currencyAmount">
        <select id="currencyOne" name = "currencyOne">
            <% for(let key in currencies) { %>
                <option value="<%= key %>"><%= currencies[key] %> (<%= key %>)</option>
            <% } %>
        </select>

        <label for="currencyTwo"> to </label>
        <select id="currencyTwo" name = "currencyTwo">
            <% for(let key in currencies) { %>
                <option value="<%= key %>"><%= currencies[key] %> (<%= key %>)</option>
            <% } %>
        </select>

        <input id="submit" type="submit" value="Convert" formaction="/convert-currency">
    </form>
    
</body>
</html>